
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;600&display=swap');

*{
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box; 
  outline: none; border:none;
  text-transform: capitalize;  
  line-height: 1.8; 
  transition: all .2s linear; 

  
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-size: 17px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 100%;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}


fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 2em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #3778e1;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 17%;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}


html{
  font-size: 62.5%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}



header{
  position: fixed; 
  top:0; left: 0; right: 0; 
  z-index: 1000; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff; 
  padding: 2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-size: 2.5rem; 
  font-weight: bolder;
  color:  #666; 
  
}

header .logo i{
  padding-right: .5rem;
  color: #040461; 
  
}

header .navbar a{
  font-size: 2rem; 
  margin-left: 2rem; 
  color: #666; 
}  

header .navbar a:hover{
  color:  #A52A2A);
}

body{
  background-color: #EDF2F4;

  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  width: 100%;
  height: 400px;

  border-radius: 5px;

}

#inner_container{
  width: 100%;
  height: 80%;

  box-shadow: 0px 0px 36px -22px #2B2D42;
  float: left;
  margin-bottom: 33px;

}

img{
  width: 100%;
  height: 100%;
  border-radius: 10px;

}

#button_container{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  width: 25%;
  height: 90%;

  font-size: 20px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;

  border-radius: 5px;
  background-color: #040461;
}

button:hover{
  transition: 0.05s;
  background-color: #94bfff;
  transform: rotateZ(-10deg);
  box-shadow: 0 0 30px -10px #06234d;
}

button:active{
  transform: translateY(20px);
  transform: rotateZ(10deg);

}
